<% include partials/header %>

            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-xs-12">
                        <h3 class="titreSec">Comment utiliser notre service?</h3>
                        <h3 class="titreSec">Comment s'identifier sur Leclerc.com?</h3>
                        <h3 class="titreSec">Quand commander et où récupérer?</h3>
                        <h3 class="titreSec">Toutes les réponses et plus encore ci-dessous.</h3>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="grille col-xs-11">
                            <h1 class="titre">S'inscrire</h1>
                            
                            <h3 class="titreSec">Pour les élèves sur les élèves du U6 </h3>
                            <div class="row">
                                <span class="col-md-2"></span>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="grille col-xs-11">
                                            <p>Tout d'abord, rendez vous sur l'adresse web du Leclerc Drive de Viry Chatillon pour les personnes du u6:</p>
                                            <a href="http://fd9-courses.leclercdrive.fr/magasin-099111-Viry-Chatillon.aspx" class="lienLeclerc">Leclerc Drive de Viry Chatillon</a>
                                        </div>
                                    </div>
                                </div>
                                <span class="col-md-2"></span>
                            </div>
                            <div class="row">
                                <span class="col-md-2"></span>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="grille col-xs-11">
                                            <p>Ensuite il faut vous inscrire, cliquer comme suit en haut à droite de la page:</p>
                                            <img src="images/instructions/inscription.png" alt="Inscription" class="img-thumbnail">
                                        </div>
                                    </div>
                                </div>
                                <span class="col-md-2"></span>
                            </div>
                            <div class="row">
                                <span class="col-md-2"></span>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="grille col-xs-11">
                                            <p>C'est là où il faut faire attention à ce que vous rentrez. Pour que Leclerc vous reconnaisse, il faut que vous remplissiez de la façon suivante:</p>
                                            <ul>
                                                <li>En écrivant votre nom, il faut que vous placiez le sigle <strong>INT</strong> devant. </li>
                                                <li>L'adresse de facturation doit être celle de l'U6. C'est-à-dire le <strong>5 clos de la cathédrale 91000 Evry</strong></li>
                                                <li>Remplissez normalement tout le reste.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <span class="col-md-2"></span>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="container">
                    <div class="row">
                        <div class="grille col-xs-11">
                            <h1 class="titre">Commander</h1>
                            <div class="row">
                                <span class="col-md-2"></span>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="grille col-xs-11">
                                            <p>Pour commander, il est <strong>IMPERATIF</strong> de:</p>
                                            <ul>
                                                <li> faire ses achats au plus tard la <strong>veille</strong> de la livraison</li>
                                                <li> planifier le retrait le <strong>Lundi</strong> sur n'importe quel créneau entre 8h30 et 12h </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <span class="col-md-2"></span>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="container">
                    <div class="row">
                        <div class="grille col-xs-11">
                            <h1 class="titre">Récupérer</h1>
                            <h3 class="titreSec">Pour les élèves du U6</h3>
                            <div class="row">
                                <span class="col-md-2"></span>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="grille col-xs-11">
                                            <p>La première étape est de vous rendre au batiment U6 le <strong>lundi après midi à l'heure que l'on publie sur le groupe facebook</strong>. C'est celui de l'adresse de facturation, c'est celui du <strong>5 clos de la cathédrale à Evry</strong>.</p>
                                        </div>
                                    </div>
                                </div>
                                <span class="col-md-2"></span>
                            </div>
                            <!--<div class="row">-->
                            <!--    <span class="col-md-2"></span>-->
                            <!--    <div class="col-md-8">-->
                            <!--        <div class="row">-->
                            <!--            <div class="grille col-xs-11">-->
                            <!--                <p>Ensuite, la salle où toutes vos courses se trouvent est dans le batiment U1 en face du gardien.</p>-->
                            <!--                <p>Pour cela rendez-vous y de la façon suivante:</p>-->
                            <!--                <img src="images/instructions/zoomU1.png" class="img-thumbnail">-->
                            <!--            </div>-->
                            <!--        </div>-->
                            <!--    </div>-->
                            <!--    <span class="col-md-2"></span>-->
                            <!--</div>-->
                            <!--<div class="row">-->
                            <!--    <span class="col-md-2"></span>-->
                            <!--    <div class="col-md-8">-->
                            <!--        <div class="row">-->
                            <!--            <div class="grille col-xs-11">-->
                            <!--                <p>Enfin, arrivé dans la salle, il vous faut trouver vos courses qui sont rangées de la façon suivante:</p>-->
                            <!--                <ul>-->
                            <!--                    <li>à gauche en rentrant, triées selon la première lettre de votre Nom</li>-->
                            <!--                    <img src="images/instructions/laSalle.jpg" class="img-thumbnail">-->
                            <!--                    <li>à droite, les encombrants <strong>à ne surtout pas oublier</strong></li>-->
                            <!--                    <img src="images/instructions/encombrants.jpg" class="img-thumbnail">-->
                            <!--                </ul>-->
                            <!--                <p>Enfin lorsque vous venez chercher vous même vos  courses, remplisser de vos Nom, Prénom, numéro de téléphone le document qu'on vous tendra et le signer.</p>-->
                            <!--                <p>Si une tiers personne vient chercher vous courses à votre place, il doit mettre <strong>votre porpre</strong> numéro, nom et prénom, et signer; et il doit ajouter son nom et son prénom en dessous.</p>-->
                            <!--            </div>-->
                            <!--        </div>-->
                            <!--    </div>-->
                            <!--    <span class="col-md-2"></span>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>

            
<% include partials/footer %>