<% include partials/header %>

    
            <div class="container">
                <div class="row text-center" style="display: flex; flex-wrap : wrap; ">
                    <div class="col-xs-12">
                        <h1 class="titre">L'équipe 2016-2017</h1> 
                        <div class="row" style="display: flex; flex-wrap : wrap; ">
                            <div class="col-xs-12">
                                <div class="row ">

                                    <div class="grilleI col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                        <img src="images/Equipe/portraitAM.png" alt="AM" class="portrait" />
                                        <h3 class="titreSec">Alexandre Moreaux</h3>
                                        <p>Chef de projet</p>
                                    </div>
                                    <div class="grilleI col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                        <img src="images/Equipe/portraitL.png" alt="LB" class="portrait" />
                                        <h3 class="titreSec">Laëtitia Bouchet</h3>
                                        <p>SAV/ Secrétaire</p>
                                    </div>
                                    <div class="grilleI col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                        <img src="images/Equipe/portraitD.png" alt="DN" class="portrait" />
                                        <h3 class="titreSec">Dorian Notebaert</h3>
                                        <p>Ressources humaines</p>
                                    </div>
                                    <div class="grilleI col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                        <img src="images/Equipe/portraitR.png" alt="RG" class="portrait" />
                                        <h3 class="titreSec">Romane Gomes</h3>
                                        <p>Respo. U6</p>
                                    </div>
                                    <div class="grilleI col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                        <img src="images/Equipe/portraitQ.png" alt="QM" class="portrait" />
                                        <h3 class="titreSec">Quentin Maes</h3>
                                        <p>Respo. Jardin</p>
                                    </div>
                                    <div class="grilleI col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                        <img src="images/Equipe/portraitM.png" alt="MB" class="portrait" />  
                                        <h3 class="titreSec">Matthias Baudlet</h3>
                                        <p>Respo. recherche et développement</p>
                                    </div>
                                    <div class="grilleI col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                        <img src="images/Equipe/portraitAL.png" alt="AL" class="portrait" />
                                        <h3 class="titreSec">Arnaud Lefèvre</h3>
                                        <p>Recherche et développement</p> 
                                    </div>
                                    <div class="grilleI col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                        <img src="images/Equipe/portraitAP.png" alt="AP" class="portrait" />
                                        <h3 class="titreSec">Alexandre Poncet</h3>
                                        <p>Responsable communication</p>
                                    </div>
                                    <div class="grilleI col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                        <img src="images/Equipe/portraitB.png" alt="BDLBDVS" class="portrait" />
                                        <h3 class="titreSec">Baptiste De Vareilles-Sommières</h3>
                                        <p>Communication</p>
                                    </div>
                                    <div class="grilleI col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                        <img src="images/Equipe/portraitG.png" alt="GF" class="portrait" />
                                        <h3 class="titreSec">Guillaume Favre</h3>
                                        <p>Relations externes</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<% include partials/footer %>